body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
      "g g g"
      "y o r"
      "y b r";
  }
  
  #g {
    grid-area: g;
  }
  
  #y {
    grid-area: y;
  }
  
  #o {
    grid-area: o;
  }
  
  #r {
    grid-area: r;
  }
  
  #b {
    grid-area: b;
  }