body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
      "g g g"
      "y r b"
      "o o b";
  }
  
  #g {
    grid-area: g;
  }
  
  #y {
    grid-area: y;
  }
  
  #o {
    grid-area: o;
  }
  
  #r {
    grid-area: r;
  }
  
  #b {
    grid-area: b;
  }
  
  #y ul, #r ul {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
  }